$header-color: #2A517F;
$content-background-color: #55A3FF;

@mixin font { 
  font-size: 1.4rem;
  font-weight: 700;
  font-family:'Courier New', Courier, monospace
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 120px 0 120px 0;
}

.card {
  border: 1px solid #000;
  box-shadow: 0px -2px 8px #000;
}

#previewer {
  width: 60%;
  min-height: 200px;
  display: block;
}

#editor {
  max-width: 40%;
  margin-bottom: 20px;
}

.header {
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  @include font;
}

.text-area {
  background-color: $content-background-color;
  min-height: 150px;
}

#markdown {
  padding: 20px;
}

.icon {
  cursor: pointer;
}

img {
  max-width: 100%;
}